.recipe_display_block{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 1100px;
    padding: 30px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 120px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}